/UnityBrain/obj
/UnityBrain/bin
/UnityBrain/UnityBrain.csproj.DotSettings
/UnityBrain/.idea
/UnityBrain/.vs
/UnityBrainDemo/Backend/model
/UnityBrainDemo/Logs
/UnityBrainDemo/Packages
/UnityBrainDemo/UserSettings
/UnityBrainDemo/Library
/UnityBrainDemo/Assets/ThirdParty/Plugins
/Documentation/doxygen/unitybrain
/UnityBrainDemo/Backend
/Documentation/doxygen/Doxywizard.lnk
/UnityBrainDemo/Temp
/UnityBrainDemo/Build
/UnityBrainDemo/Deployment
/Documentation/doxygen/unitybrain-demo
/Documentation/doxygen/llamabrain
/Documentation/doxygen/llamabrain-demo
/LlamaBrainRuntime/Assets/ThirdParty
/LlamaBrainRuntime/Backend
/LlamaBrainRuntime/Deployment
/LlamaBrainRuntime/Library
/LlamaBrainRuntime/Logs
/LlamaBrainRuntime/Temp
/LlamaBrainRuntime/UserSettings
/LlamaBrainRuntime/Build
/LlamaBrainRuntime/Packages/com.unity.asset-store-tools
/LlamaBrain/.vs
/LlamaBrainRuntime/Assets/LlamaBrainRuntime/Documenation
/*.unitypackage
/Files
*.unitypackage
/LlamaBrainRuntime/Assets/LLamaBrainForUnity_1.0.0.unitypackage.meta
/Documentation/doxygen/doxygen-awesome-css-2.4.1
/LlamaBrain/LlamaBrain.Tests/bin
/LlamaBrain/LlamaBrain.Tests/obj
/LlamaBrain/TestResults
/LlamaBrain/bin
/LlamaBrain/obj
LlamaBrain/LlamaBrain.sln.DotSettings.user
/LlamaBrain/.claude
/LlamaBrainRuntime/Assets/LlamaBrainRuntime/LlamaBrain.dll
*.code-workspace
/*.code-workspace
/LlamaBrainRuntime/Assets/LlamaArt/scrubbed
/Overview
/LlamaBrain/LlamaBrain.Tests/TestResults
claude.md
.claude/
